<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#11191f">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#11191f" />
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>{{.Title}}</title>
</head>

<body>
    <div class="container" style="margin: 1.2rem auto;">
        <hgroup>
            <h2>Welcome 👋</h2>
            <p>Organize your daily work!</p>
        </hgroup>
        <details>
            <summary>Create a new task</summary>
            <input type="text" id="new_title" name="Title" placeholder="Describe your task" required>
            <button id="create_button">Create</button>
        </details>
        <table>
            <thead>
                <tr>
                    <th style="width: 100%;">Task</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="todo-list">
            </tbody>
        </table>
    </div>
    <script src=/js/main.js></script>
</body>

</html>
