<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pico.min.css">
    <title>{{.Title}}</title>
</head>

<body>
    <div class="container" style="margin: 1.2rem auto;">
            <hgroup>
                <h2>Welcome 👋</h2>
                <p>Organize your daily work!</p>
            </hgroup>
        <details>
            <summary>Create a new task</summary>
            <form method="post" action="/create">
                    <input type="text" id="Title" name="Title" placeholder="Describe your task" required>
                    <input type="submit" value="Create">
            </form>
          </details>          
        <table>
            <thead>
                <tr>
                    <th style="width: 100%;">Task</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{range .Tasks}}
                <tr>
                    <td>
                        <kbd><strong>
                            {{ if .Completed }}<del>{{ end }}
                            {{.Title}}
                            {{ if .Completed }}</del>{{ end }}
                        </strong></kbd>
                    </td>
                    <td>
                        {{ if not .Completed }}<a href="/complete/{{ .ID }}">{{ end }}
                        <input type="checkbox" role="switch" disabled{{ if .Completed }} checked{{ end }}>
                        {{ if not .Completed }}</a>{{ end }}
                    </td>
                    <td><a href="/delete/{{ .ID }}" role="button">Delete</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>